In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [33]:
# navigating to File path

csv_path = "C:\\Users\\skavy\\Desktop\\Bootcamp\\Pandas\\HeroesOfPymoli\\purchase_data.csv"

# Reads the file into Pandas data frame

purchase_data = pd.read_csv(csv_path)

In [34]:
#Gets Total number of unique players

Players = purchase_data["SN"].nunique()
Total_Players = pd.DataFrame({"Total Players": [Players]})
Total_Players

   Total Players
0            576

In [35]:
#PURCHASE ANALYSIS (TOTAL)
#-------------------------------------------------------
#Gets number of unique items.
Unique_Items = len(purchase_data["Item ID"].unique())

# Gets Average Price.
Average_Price = "$" + str(np.around(purchase_data["Price"].mean(),2))

#Gets number of Purchases.
Purchases_Count = purchase_data["Purchase ID"].count()

#Gets total revenue.
Revenue = "$" + str(np.around(purchase_data["Price"].sum(),2))

#Reading purchase Analysis data into a new dataframe.
Purchasing_Summary = pd.DataFrame({"Number Of Unique Items": [Unique_Items], "Average Price": [Average_Price], \
                                   "Number Of Purchases": [Purchases_Count], "Total Revenue": [Revenue]})

Purchasing_Summary

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [36]:
#GENDER DEMOGRAPHICS
#---------------------------------------------------------
# Grouped purchase_data by Gender.
Gender_Count = purchase_data.groupby("Gender")

# Counts the total unique names in "SN" column by gender.
Unique_Gender_Count = Gender_Count.nunique()["SN"]

#Percentage and Count of unique gender players.
Gender_Percent = (purchase_data["Gender"].value_counts(normalize=True) * 100)
Gender_Percent

#Reads Gender Demographics into a new DataFrame.
Gender_Demo = pd.DataFrame({"Total Count": Unique_Gender_Count,"Percentage of Players": Gender_Percent.map("${:,.2f}".format)})
Gender_Demo[['Total Count', 'Percentage of Players']].sort_values('Total Count', ascending=False).head()

                       Total Count Percentage of Players
Male                           484                $83.59
Female                          81                $14.49
Other / Non-Disclosed           11                 $1.92

In [37]:
#PURCHASING ANALYSIS(GENDER)
#----------------------------------------------------------

#Gets purchase count by gender
purchase_by_gender = Gender_Count["Purchase ID"].count()
purchase_by_gender

# Gets Average purchase prices by gender
Avg_price = Gender_Count["Price"].mean()
Avg_price

# Gets Average purchase total by gender 
Total_purchase = Gender_Count["Price"].sum()
Total_purchase

# Gets Average purchase total per person by gender
Avg_Per_Person = (Total_purchase/ Unique_Gender_Count)
Avg_Per_Person

#Purchasing Analysis (Gender)
Gender_Analysis = pd.DataFrame({"Purchase Count": purchase_by_gender,"Average Purchase Price": Avg_price.map("${:,.2f}".format), \
                                "Total Purchase Value": Total_purchase.map("${:,.2f}".format),"Avg Total Purchase per Person": Avg_Per_Person.map("${:,.2f}".format)})

Gender_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [38]:
#AGE DEMOGRAPHICS
#--------------------------------------------------
#Creates bins for ages
bins = [0,9,14,19,24,29,34,39,150]

#creates labels for age groups
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorizes the existing players using the age bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)

#Gets the numbers and percentages by age group
Age_GroupedBy = purchase_data.groupby("Age Group")
Age_Group_Total =Age_GroupedBy["SN"].nunique()
Age_Group_Sum = Age_Group_Total.sum()
Age_Group_Percent = (Age_Group_Total / Age_Group_Sum) * 100

#Creates a new summary data frame to hold the above results of the cell and displays.
Age_Demo = pd.DataFrame({"Total Count": Age_Group_Total, "Percentage of Players": Age_Group_Percent.map("{:,.2f}%".format)})
Age_Demo.reset_index(inplace=True)

Age_Demo

  Age Group  Total Count Percentage of Players
0       <10           17                 2.95%
1     10-14           22                 3.82%
2     15-19          107                18.58%
3     20-24          258                44.79%
4     25-29           77                13.37%
5     30-34           52                 9.03%
6     35-39           31                 5.38%
7       40+           12                 2.08%

In [39]:
#PURCHASING ANALYSIS (AGE)
#---------------------------------------------------------------
#Bin the purchase_data data frame by age
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Gets purchase count by age group
Age_Purchase_Count = Age_GroupedBy["Purchase ID"].count()
Age_Purchase_Count
#Gets average purchase price by age group 
Age_Avg_price= Age_GroupedBy["Price"].mean()
Age_Avg_price
#Gets total purchase value by age group 
Age_Purchase_Total = Age_GroupedBy["Price"].sum()
Age_Purchase_Total
#Gets average purchase per person in the age group 
Age_Avg_Purchase_Person = Age_Purchase_Total /Age_Group_Total
Age_Avg_Purchase_Person
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
Age_Purchase_Analysis = pd.DataFrame({"Purchase Count": Age_Purchase_Count,"Average Purchase Price": Age_Avg_price.map("${:,.2f}".format), \
                                      "Total Purchase Value":Age_Purchase_Total.map("${:,.2f}".format), \
                                      "Average Purchase Total per Person": Age_Avg_Purchase_Person.map("${:,.2f}".format)})

#Display the summary data frame
Age_Purchase_Analysis.reset_index(inplace=True)
Age_Purchase_Analysis

,Age Group,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

In [40]:
#TOP SPENDERS
#------------------------------------------------------------------------ 
#Run basic calculations to obtain the results in the table below
SN_GroupedBy = purchase_data.groupby("SN")
Spender_Purchase = SN_GroupedBy["Purchase ID"].count()
Spender_Avg_Price = SN_GroupedBy["Price"].mean()
Spender_Total = (SN_GroupedBy["Price"].sum())

#Create a summary data frame to hold the results
Spender_df = pd.DataFrame({"Purchase Count": Spender_Purchase,"Average Purchase Price":Spender_Avg_Price.map("${:,.2f}".format), \
                           "Total Purchase Value": Spender_Total})
Spender_df.head()

#Sort the total purchase value column in descending order
Spender_Sorted = Spender_df.sort_values(["Total Purchase Value"],ascending=False)

#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame
Spender_Sorted.reset_index(inplace=True)
Spender_Sorted.head()

            SN  Purchase Count Average Purchase Price  Total Purchase Value
0    Lisosia93               5                  $3.79                 18.96
1  Idastidru52               4                  $3.86                 15.45
2   Chamjask73               3                  $4.61                 13.83
3       Iral74               4                  $3.40                 13.62
4  Iskadarya95               3                  $4.37                 13.10

In [41]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns
Items_Col = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
Items_df = Items_Col.rename(columns ={"Price": "Item Price"})
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
Item_grouped = Items_df.groupby(["Item ID","Item Name"])

#purchase count
Item_purchase_count = Item_grouped["Item ID"].count()

#item price
Item_price = Item_grouped["Item Price"].mean()

#total purchase value
Total_value = Item_grouped["Item Price"].sum()

#Create a summary data frame to hold the results
Most_Popular_Items = pd.DataFrame({"Purchase Count":Item_purchase_count,"Item Price":Item_price.map("${:,.2f}".format), \
                                   "Total Purchase Value":Total_value})

#Sort the purchase count column in descending order
Sorted_Purchase_Count = Most_Popular_Items.sort_values(by="Purchase Count", ascending=False)

#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame
Sorted_Purchase_Count["Total Purchase Value"].map("${:,.2f}".format).head()

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    $50.76
145      Fiery Glass Crusader                            $41.22
108      Extraction, Quickblade Of Trembling Hands       $31.77
82       Nirvana                                         $44.10
19       Pursuit, Cudgel of Necromancy                    $8.16
Name: Total Purchase Value, dtype: object

In [42]:
#Most Profitable Items
# --------------------------------------------------------------------------------- 
#Sort the above table by total purchase value in descending order
Sorted_Purchase_Value = Most_Popular_Items.sort_values(by="Total Purchase Value", ascending=False)

#Optional: give the displayed data cleaner formatting


#Display a preview of the data frame
Sorted_Purchase_Value["Total Purchase Value"].map("${:,.2f}".format).head().head()

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    $50.76
82       Nirvana                                         $44.10
145      Fiery Glass Crusader                            $41.22
92       Final Critic                                    $39.04
103      Singed Scalpel                                  $34.80
Name: Total Purchase Value, dtype: object